body
    {
    font-size: 22px;
    }

#MainCanvas
    {
    border: 1px solid rgba(237, 154, 123, 0.50);
    }

#Top
    {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    }


    /* ---- Sound List ---- */

#SoundListContainer
    {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    max-width: 300px;
    }

#SoundList
    {
    height: 390px;
    overflow-y: auto;
    margin: 0;
    }

#SoundList li
    {
    cursor: pointer;
    }

#AudioFile
    {
    margin: 5px;
    margin-bottom: 0;
    }

#SoundSelected
    {
    background-color: beige;
    }

.error
    {
    color: darkred;
    }

    /* ---- Menu ---- */

#Menu
    {
    text-align: center;
    }

#Menu ul
    {
    list-style-type: none;
    }

#Menu li
    {
    display: inline-block;
    }

.menuValue
    {
    display: inline-block;
    min-width: 55px;
    color: green;
    font-weight: bold;
    }