#MainCanvas
    {
    border: 1px solid rgba(237, 154, 123, 0.50);
    }

#Top
    {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    }


    /* ---- Sound List ---- */

#SoundListContainer
    {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    max-width: 250px;
    }

#SoundList li
    {
    cursor: pointer;
    }

#SoundSelected
    {
    background-color: beige;
    }


    /* ---- Menu ---- */

#Menu
    {
    text-align: center;
    }

#Menu ul
    {
    list-style-type: none;
    }

#Menu li
    {
    display: inline-block;
    }